

body {
  background-color: black;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

.ResortCard {
  border: 1px black solid;
  width: 120px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
}

.ResortContainer {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  justify-content: space-around;
}

.OverFour {
  color: green;
}

.UnderFour {
  color: red;
}